#nav {
    background: #000;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav .nav-wrapper {
    height: auto;
}

.promo-box .material-icons {
    font-size: 100px;
    color: #ed3122;
}

.promo-box .promo-caption {
    font-size: 1.5em;
    color: #666;
    margin: 10px 0;
}
