h1 {
    margin: 0;    
}

section {
    margin: 20px 0;
}

#nav {
    background: #000;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav .nav-wrapper {
    height: auto;
}

.brand-logo {
    margin: 10px 0 0 10px;
    line-height: 20px;    
}

header {
    background: url('img/jnoxfkjnoxfkjnox.jpg') repeat;
    height: 300px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.promo-box {
    padding: 20px 0;    
}

.promo-box .material-icons {
    font-size: 100px;
    color: #ed3122;
}

.promo-box .promo-caption {
    font-size: 1.5em;
    color: #666;
    margin: 10px 0;
}

.carousel ul.indicators .indicator-item {
    background-color: #999;
}

.carousel ul.indicators .indicator-item.active {
    background-color: #ed3122;
}
