#nav {
    background: #000;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav .nav-wrapper {
    height: auto;
}

header {
    background: url('assets/img/jnoxfkjnoxfkjnox.jpg') repeat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.promo-box {
    padding: 20px 0;    
}

.promo-box .material-icons {
    font-size: 100px;
    color: #ed3122;
}

.promo-box .promo-caption {
    font-size: 1.5em;
    color: #666;
    margin: 10px 0;
}
